.container{
text-align: center;
color: blue;

}
.body{
   
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
   
}
.buttons{
    padding:30px;
    border-blac:10px;
    border-radius: 10px;
    size: 100vh;      
}
.buttons:hover{
    background-color: blue;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}
.text-box{
    text-align: center;
}
*{
    background-color: red;
}
.hagu{
    display: flex;
   
}